<div class="row" *ngIf="pets && pets.length > 0">
    <header class="pet-list-header">
        <h2>Fever Pets</h2>
        <fever-pet-day></fever-pet-day>
    </header>
    <table class="table table-hover">
        <thead>
            <tr>
                <th *ngFor="let tableHeader of tableHeaders" scope="col">
                    <fever-sortable [title]="tableHeader.title" [sortable]="tableHeader.sortable"
                        [name]="tableHeader.name" [order]="by === tableHeader.name ? order : tableHeader.order" (sorted)="handleSortedEvent($event)">
                    </fever-sortable>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pet of pets" (click)="goToPetDetail(pet.id)">
                <td><img [src]="pet.photo_url" class="img-fluid" [alt]="pet.name"></td>
                <td>{{pet.name}}</td>
                <td>{{pet.kind}}</td>
                <td>{{pet.weight}}</td>
                <td>{{pet.height}}</td>
                <td>{{pet.length}}</td>
            </tr>
        </tbody>
    </table>
    <fever-pagination [pagination]="pagination" (paginated)="handlePaginatedEvent($event)"></fever-pagination>
</div>