<a class="navbar-brand" (click)="getBack()">Volver</a>
<div class="row" *ngIf="pet">
    <div class="pet-container">
        <div class="img-container">
            <img [src]="pet.photo_url" alt="" class="img-thumbnail">
        </div>
        <dl class="dl-horizontal px-3">
            <dt>Name</dt>
            <dd>{{pet.name}}</dd>
            <dt>Description</dt>
            <dd>{{pet.description}}</dd>
            <dt>Kind</dt>
            <dd>{{pet.kind}}</dd>
            <dt>Weight</dt>
            <dd>{{pet.weight}}</dd>
            <dt>Height</dt>
            <dd>{{pet.height}}</dd>
            <dt>Length</dt>
            <dd>{{pet.length}}</dd>
            <dt *ngIf="pet.number_of_lives">Number of Lives</dt>
            <dd *ngIf="pet.number_of_lives">{{pet.number_of_lives}}</dd>
            <dt>Health</dt>
            <dd>{{pet.health}}</dd>
          </dl>
    </div>
</div>